<%- include ('./partials/html-head') %>
<link rel="stylesheet" href="https://use.typekit.net/egv2mgj.css">
<link rel="stylesheet" href="/stylesheets/main.css"/>
<%- include ('./partials/nav') %>

<main>
  <div id="adventure">
    <h2>...Adventure? Guaranteed.</h2>
  </div>
  <div id="aboard">
  <h1> Welcome aboard, from your multiple travel partners here at </h1>
  </div>
  <div id="pineapple-div">
    <div id="pineapple">
      <h1>Pineapple Express Airlines</h1>
    </div>
  </div>
  <div id="delights">
  <h2> Your premier airline for tropical afternoon flights. </h2>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="leg-room">
  <h4><i>Now offering extended leg room seat options for you to work out those kinks.</i></h4>
  </div>
</main>

<%- include ('./partials/footer') %>