body {
  background-image: url('../media/pineapple.jpg');
  font-family: tomarik-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "nav"
    "main";
  align-content: center;
  justify-content: center;
  font-size: 12px;
}

body > main {
  margin: 10px 10px 0px 10px;
  grid-area: main;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#adventure {
  background-image: url('../media/orange.png');
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
  align-self: center;
  color: whitesmoke;
  font-family: tomarik-display;
  text-align: center;
  font-size: 14px;
  padding: 8px;
}

#aboard {
  border: 4px solid rgb(65, 37, 37);
  text-align: center;
  font-size: 8px;
  padding: 8px;
  background-color: #044d38c0;
}

#pineapple-div, #title, #flight-list, #flight-detail, #add-flight, #flightDetailsDiv, #addTicket {
  background-image: url('/media/orange.png');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#title, #flight-list, #add-flight, #flightDetailsDiv, #addTicket, #adventure {
  color: black;
  text-shadow: 2px 2px whitesmoke;
}

#addTicket {
  font-size: 24px;
}

#addTicketFormDiv {
  font-size: 10px;
}


#pineapple {
  font-family: worker-3d-block1,serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-shadow: 2px 2px whitesmoke;
  margin: 15px;
  text-align: center;
  font-size: 24px;
}

#delights {
  border: 4px solid rgb(65, 37, 37);
  background-color: #044d38c0;
  padding: 5px;
  text-align: center;
}

#leg-room {
  color: black;
  border: 4px solid whitesmoke;
  text-shadow: 2px 2px whitesmoke;
  background-color: rgba(255, 228, 196, 0.8);
  padding: 5px;
  text-align: center;
}

#flightDetail {
  margin: 10px;
  border: 2px solid whitesmoke;
  background: rgb(65, 37, 37);
  padding: 10px;
  line-height: 24px;
  font-size: 14px;
}

#meal {
  background: #044d38ce;
  border: 4px solid rgb(65, 37, 37);
  padding: 4px;
}

#meal-input {
  width: 160px;
}

#addTicketFormDiv {
  font-size: 14px;
  padding: 2px;
}

#submitBtn1, #submitBtn2 {
  font-size: 12px;
}

input {
  width: 80px;
  height: 10px;
}

#flight-table {
  font-size: 12px;
}

hr {
  color: rgb(65, 37, 37);
  border: 4px solid whitesmoke;
  margin: 32px;
  width: 80%;
  align-self: center;
}

body > nav {
  color: black;
  text-shadow: 2px 2px whitesmoke;
  font-family: tomarik-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-area: nav;
  background-color: rgba(255, 228, 196);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  border: 4px solid rgb(65, 37, 37);
}

nav > i {
  width: 22px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

nav > a:hover {
  background-color: #0789a394;
}

nav > a.active {
  background-color: #044d38a7;
  color: black;
  text-shadow: 2px 2px whitesmoke;
  font-size: 14px;
  font-family: tomarik-display;
}

table, form {
  align-self: center;
  text-align: center;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  color: black;
  font-size: 16px;
  background-color: rgba(255, 228, 196);
  border: 4px solid rgb(65, 37, 37);
}

#delete-flight-form {
  align-self: center;
  text-align: center;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0px;
  border: none;
}

#detailsTD {
  color: black;
  text-shadow: 2px 2px whitesmoke;
  font-size: 18px;
  padding: 10px;
  width: 200px;
}

th {
  padding: 20px;
}

th::after {
  color: black;
  text-shadow: 2px 2px whitesmoke;
}

#noTix {
  border: 2px solid orange;
  align-self: center;
  color: whitesmoke;
  background-color: #044d38;
  margin: 20px;
  font-family: tomarik-display;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

#seat-price {
  margin: 10px;
}

input, select {
  background: #044d38;
  color: whitesmoke;
  padding: 8px;
  border: 4px solid orange;
  border-radius: 10%;
  align-self: center;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

p {
  font-size: 16px;
  background-color: #044d38a7;
}

button {
  color: whitesmoke;
  background: #044d38;
  border-radius: 5%;
  padding: 7px;
  margin: 6px;
  border: 4px solid orange;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

button:active {
  border: 4px solid whitesmoke;
  border-radius: 20%;
}

thead {
  margin: 20px;
}


@media only screen and (min-width: 468px) {
  body {
    font-size: 20px;
  }
  #adventure {
    font-size: 20px;
  }
  #aboard {
    font-size: 8px;
  }
  #addTicket {
    font-size: 44px;
  }
  #pineapple {
    font-size: 42px;
  }
  #flightDetail {
    line-height: 40px;
    font-size: 24px;
  }
  body > nav {
    font-size: 24px;
  }
  nav > i {
    width: 32px;
  }
  nav > a.active {
    font-size: 28px;
  }
  table, form {
    font-size: 30px;
  }
  #detailsTD {
    font-size: 26px;
  }
  #noTix {
    font-size: 26px;
  }
  select {
    font-size: 22px;
  }
  button {
    font-size: 22px;
  }
  #submitBtn1, #submitBtn2 {
    font-size: 22px;
  }
  input {
    font-size: 22px;
    height: 21px;
  }
  #addTicketFormDiv {
    font-size: 22px;
  }
  #addTicket {
    font-size: 44px;
  }
  #meal-input {
    width: 300px;
  }
  #meal {
    font-size: 22px;
  }
  #departs-input {
    width: 260px;
  }
  #flight-table {
    font-size: 21px;
  }
  #deleteBtn {
    width: 150px;
  }
  #aboard {
    font-size: 14px;
    line-height: 32px;
  }
  nav {
    width: 100%;
  }
}