html {
  background-image: url('../media/pineapple.jpg');
}

body {
  font-family: tomarik-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "nav"
    "main";
  align-content: center;
  justify-content: center;
  font-size: 12px;
}

body > main {
  margin: 10px 10px 0px 10px;
  grid-area: main;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#adventure {
  align-self: center;
  color: whitesmoke;
  font-family: tomarik-display;
  text-align: center;
  font-size: 14px;
  padding: 8px;
}

#aboard {
  border: 4px solid rgb(65, 37, 37);
  text-align: center;
  font-size: 8px;
  padding: 8px;
  background-color: #044d38a7;
}

#pineapple-div {
  background-image: url('/media/orange.png');
  background-size: cover;
  background-repeat: repeat;
  justify-content: center;
}

#pineapple {
  font-family: worker-3d-block1,serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-shadow: 2px 2px whitesmoke;
  margin: 15px;
  text-align: center;
  font-size: 24px;
}

#delights {
  border: 4px solid rgb(65, 37, 37);
  background-color: #044d38a7;
  padding: 5px;
  text-align: center;
}

#leg-room {
  color: black;
  border: 4px solid whitesmoke;
  text-shadow: 2px 2px whitesmoke;
  background-color: rgba(255, 228, 196, 0.627);
  padding: 5px;
  text-align: center;
}

#addTicket {
  color: black;
  text-shadow: 2px 2px whitesmoke;
  background-color: rgba(255, 228, 196, 0.6);
  border: 4px solid rgb(65, 37, 37);
  font-family: tomarik-display;
  text-align: center;
  font-size: 26px;
  padding: 8px;
}

#flightDetail {
  margin: 10px;
  border: 2px solid whitesmoke;
  background: rgb(65, 37, 37);
  padding: 10px;
  line-height: 24px;
  font-size: 14px;
}

#meal {
  border: 4px solid rgb(65, 37, 37);
  padding: 4px;
}


hr {
  color: rgb(65, 37, 37);
  border: 4px solid whitesmoke;
  margin: 32px;
  width: 80%;
  align-self: center;
}

body > nav {
  color: black;
  text-shadow: 2px 2px whitesmoke;
  font-family: tomarik-display,sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-area: nav;
  background-color: rgba(255, 228, 196);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  border: 4px solid rgb(65, 37, 37);
}

nav > i {
  width: 22px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

nav > a:hover {
  background-color: #424748;
}

nav > a.active {
  background-color: #044d38a7;
  color: black;
  text-shadow: 2px 2px whitesmoke;
  font-size: 14px;
  font-family: tomarik-display;
}

table, form {
  align-self: center;
  text-align: center;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  color: black;
  font-size: 16px;
  background-color: rgba(255, 228, 196);
  border: 4px solid rgb(65, 37, 37);
}

#noTix {
  align-self: center;
  color: whitesmoke;
  background-color: #044d38;
  margin: 20px;
  font-family: tomarik-display;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

#seat-price {
  margin: 10px;
}

#title {
  justify-self: flex-start;
}


input, select {
  background: #044d38;
  color: whitesmoke;
  padding: 8px;
  border: 2px solid whitesmoke;
  border-radius: 10%;
  align-self: center;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

p {
  font-size: 16px;
  background-color: #044d38a7;
}

button {
  color: whitesmoke;
  background: #044d38;
  border-radius: 5%;
  padding: 7px;
  margin: 6px;
  border: 2px solid whitesmoke;
  font-family: iskra,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

button:active {
  border: 4px solid whitesmoke;
  border-radius: 20%;
}

thead {
  margin: 20px;
}